
:root{
    --black:#2B2D34;
    --white:#fff;
    --red:#D83638;
   
}
.adj{
    overflow-x: hidden;
}
.top{
    padding: 10px 20px;
    background: var(--red);
    color: var(--white);
    display: flex; justify-content: space-between;
    align-items: center;
    display: none;
}
.top button{
    background: none;
    border: none;
    width: 100px;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 5px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--black)
}
.menu .logo{
    margin-left: 20px;
}
.toggle i{
    color: var(--white);
    padding: 20px;
    background: var(--red);
    font-size: 30px;
    border-radius: 20px 0 0 0;
    cursor: pointer;
}

.main-content{
    position: absolute;
   width: 70%;
    border-radius: 20px 0px 20px 0px;
   z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.heading  h1{
    font-size: 200px;
}
.heading  p{
    font-size: 50px;
}
.c-form{
    display: flex;
   
}
.c-form .a{
    width: 40%;
   
}

.a input{
    padding: 20px 15px;
    border: none;
    width: 100%;
}
.a-round input{
    border-radius: 30px 0 0 0;
    border-right: 1px solid var(--black);
}
.b-round{
    background: var(--red);
    border-radius:  0 0 30px 0;
    width: 20%;
}
.b-round button{
    border: none;
    width: 100%;
    padding: 20px 15px;
    background: var(--red);
    color: var(--white);
    border-radius: 0 0 30px 0;
    cursor: pointer;
}
.a input:focus, .b-round button:focus{
    border: none;
    outline: 0;
}
::placeholder{
    font-size: 20px;
}
.ico{
    position: relative;
}
.rgt-ico{
    position: absolute;
    right: 20px;
    top: 30%;
}

/*-----------------owl----------------------*/
.header{
    height: 100vh;
overflow-y: hidden;
    position: relative;
}

.car .item img{
    width: 100%;
    height: 100%;
}
.clr-both{
    clear: both;
}
/*----------------------hide show-------------*/
 .hideshow{
    position: absolute;
    background:var(--black);
    color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50000;
   display: none;
   padding-bottom: 50px;
}
.hideshow h1{
    font-size: 70px;
    color: var(--red);
    margin-bottom: 50px;
}
.hide{
    display: flex;
    justify-content: flex-end;
    background: var(--red);
    padding: 20px 30px;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
}
.hidden{
      display: none;
}
.hide-heading{
    font-size: 30px;
    color: var(--red);
    margin-left: 20px;
    
}
.hide-content{
    display: flex; justify-content: space-between;
    width:50%; margin: 0 auto;
}
.hide-content .hide-left, .hide-content .hide-right{
    list-style: none;
}
.hide-content .hide-left li, .hide-content .hide-right li{
    margin-top: 30px;
}

.hide-form{
    width: 100%;
}
.hide-form input{
    border: none;
    padding: 10px 15px;
}
.hide-form input::placeholder{
    font-size: 12px;
    margin-left: 20px;
}
.a-round{
    border-radius: 20px 0 0 0;
}
.b-around{
    position: relative;
}
.text-dark{
    position: absolute;
    top: 15px;
    right: 30%;
    font-size: 12px;
    color: var(--red)!important;
}
.btn-red button{
    background: var(--red);
    color: var(--white);
    padding: 15px ;
    width: 100%;
    border:none;
    border-radius: 0 0 20px 0;
}
.hide-content .hide-left, .hide-content .hide-right{
    width: 48%;
}
.hide-content li{
    width: 98%;
    font-weight: bold;
}
.pos-red{
    position: relative;
}
.pos-left{
    position: absolute;
    right: 0;
}
/*----------------accordian----------------------*/

/*--------------abt------------------*/

.abt-left h1{
    position: relative;
}
.abt-left h1::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background: var(--red);
    display: block;
    bottom: -20px;
}
.abt-left h5{
    color: var(--red);
}
.card .card-img-top{border-radius:30px 0 0 0 !important;
}
.abt-left button{
    width: 200px;
    border: none;
    padding: 15px 20px;
    background-image: linear-gradient(to right, #555863, #000);
    border-radius: 10px 0 10px 0;
    color: white;
    
}
.abt-left button:hover{
    background-image: linear-gradient(to left, #555863, #000);
}
.abt-right{
    width: 400px;
}
.abt .card{
    border-radius: 30px 0 0 0px;
    border: none;
}
.abt{
    position: relative;
}
.abt .abt-right{
    position: absolute;
    top: -40px;
    right: 0;
    z-index: 200;
}

.abt-rt{
    display: none;
}
.slide .card{
    position: relative;
    background: var(--red);
    color: var(--white);
}
.card-cont{
    padding: 20px;
    position: absolute;
    color: var(--white);
    top: 30%;
}
.bt-white{
    width: 120px;
    background: var(--white);
    position: absolute;
    bottom: 0;
    right: 0;
    padding:5px 10px;
    border: none;
    border-radius: 20px 0 0 0;
    cursor: pointer;
}

.bt-white:focus{
    border: none;
    outline: 0;
}
.bt-white:hover{
    color: var(--red);
}
.card-text{
    margin-bottom: 30px;
}

/*---------------------*/

.ab{
    background:linear-gradient(rgba(228, 76, 76, 0.6), rgb(228, 76, 76, 0.6)), url(../images/01.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top center;
    padding:130px 50px;
    width: 33.33%;
}
.ba{
    background:linear-gradient(rgba(56, 173, 115, 0.6), rgba(71, 228, 149, 0.6)), url(../images/02.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top center;
    padding:130px 50px;
    width: 33.33%;
}
.c{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url(../images/04.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top center;
    padding:130px 50px;
    width: 33.33%;
}
.d{
    background:linear-gradient(rgba(63, 15, 238, 0.6), rgba(114, 82, 228, 0.6)), url(../images/01.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top center;
    padding:130px 50px;
    width: 50%;
}
.e{
    background:linear-gradient(rgba(180, 178, 21, 0.63), rgba(224, 223, 125, 0.63)), url(../images/01.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top center;
    padding:130px 50px;
    width: 50%;
   
}
.pos-div{
    text-align: center;
}
.pos-div p{
   opacity: 0;
    transition:linear all 0.5s;
}
.pos-div img{
    transition:linear all 0.5s;
}
.clr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clr:hover .pos-div img{
    transform: translateY(-15px);
    
}
.clr:hover .pos-div p{
  opacity: 100%;
    transform: translateY(-15px);
}
/*----------------------------footer------------*/
.footer{
    background: var(--red);
    padding: 50px 0;
    color: var(--white);
    margin-top: 50px;
}
.visibl{
    visibility: hidden;
}
.ft-li h6{
    font-size: 17px;
    margin: 20px 0;
}
 .list li{
    margin-bottom: 11px;
    font-size: 14px!important;
}
.f-l{
    margin-top: 30px;
}
hr{
    width: 100%;
    background: rgb(177, 176, 174);
  
}
.f-last p{
    color: rgba(177, 176, 174, 0.9);}

.des-card{
    display: flex;

}
.describe{
    margin: 50px 0;
}
.client{
    margin-top: 100px;
}

.extra{
    padding: 100px 0;
    background: var(--black);
    position: relative;
}
.footer{
    position: relative;
}
.footer::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    display: block;
    background: var(--white);
    left: calc(50% - 25px);
    top: -6%;
}
.extra::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    display: block;
    background: var(--white);
    left: calc(50% - 25px);
    top: -4%;
}
.extra::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    display: block;
    background: var(--black);
    left: calc(50% - 25px);
    bottom: -4%;
}
.extra .card{
    background: var(--red);
    color: var(--white);
    border-radius: 30px 0 0 0 ;
    transition:linear all 0.5s;
}
.extra .card:hover{
    transform: translateY(-15px)!important;
    background: var(--black);
    border: 1px solid var(--white);
}
.extra .card:hover .bt-white{
    background: var(--red);
    color: var(--white)!important;
    border: 1px solid var(--white);
}
.slide .bt-white:hover{
    background: var(--bl);
    color: var(--white)!important;
    border: 1px solid var(--white);
}
/*------------------carousel--------------*/
.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  .slide{
      position: relative;
  }
  .owl-dots {
    text-align: left;
    padding-top: 15px;
   position: absolute;
   bottom: 20px;
   left: 20px;
  }
  .slide .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
  .owl-dots button.owl-dot.active {
    background-color: var(--black);
  }
  .owl-dots button.owl-dot:focus {
    outline: none;
  }
  .owl-nav button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.38) !important;
  }
  /* span {
      font-size: 70px;    
      position: relative;
      top: -5px;
  } */
  .owl-nav button:focus {
      outline: none;
  }
  .bt-red button {
    background: var(--red);
    color: var(--white);
    padding: 15px;
    width:50%;
    border: none;
    border-radius: 20px 0 20px 0;
}
.red{
    color: var(--red);
}
.rgt-ico{
    color: var(--red);
}
/*--------------------responsive-----------------------*/
@media(max-width:1024px){
    .header{
        height: 570px;
    }
    .abt-right{
        width: 300px;
    }
    .heading h1 {
        font-size: 150px;
    }
    
    .card-cont h5, .extra .card-cont h5{
        font-size: 12px;
    }
    .text-dark{
        right: 5%;
    }
    .bt-red button{
        width: 100%;
    }
    .hideshow h1{
        font-size: 45px;
    }
}
@media(max-width:768px){
    .hide-content {  
        width: 70%;   
    }
    .heading p {
        font-size: 30px;
    }
    .heading h1 {
        font-size: 75px;
    }
    .main-content{
     
        width: 75%;
    }
    .abt-rt{
        display: block;
    }
     .abt-right{
         display: none;
     }
     .heading h1 {
        font-size: 80px;
    }
    .card-cont{
        top: 10%;
    }
    .card-cont h5, .extra .card-cont h5{
        font-size: 12px;
    }
    
    .hideshow h1{
        font-size: 45px;
    }
    .text-dark{
        right: 10%;
    }
    .bt-red button{
        width: 100%;
    }
}

@media(max-width:576px){
    .bt-red button {
        width: 40%;
    }
    .hidden{display: block; display: flex;justify-content: space-between; align-items: center;}
    .hide-one{display: none;}
    .hide-small{display: none;}
    .header{height: 300px;}
    .hide-content .hide-left, .hide-content .hide-right{
        width: 100%;
    }
    .hide-content{
        display: flex;
      flex-wrap: wrap; 
        width:100%; margin: 0 auto;
        height: 200px;
        overflow: scroll;
    }
    .pos-left{
        position: absolute;
        right: 30px;
    }
    .hide-content .hide-left li, .hide-content .hide-right li{
        margin-top: 25px;
    }
    .a-round input{
        border-radius: 30px 0 0 0;
        border-right: none;
    }
    .c-form{display: flex;
        flex-direction: column;}
        .c-form .a, .c-form .b-round{
            width: 100%;    
        }
        .clr{

            width: 100%;
        }
        .des-card{
            display: flex;
            flex-wrap: wrap;
            
        }
        .main-content{
            top: 70%;
            width: 80%;
        }
        .heading h1, .heading p {
           display: none;
        }
        .a input,  .b-round button{
            padding: 10px 15px;
        }
        .card-cont {
            top: 36%;
        }
        .abt-mar{
            margin-top: 40px;
        }     
        .extra::before {
            top: -3%;
        }  
        .extra::after {
            bottom: -0.7%;
        } 
        .footer::before{
            top: -40px;
        }
        .flc{
            margin-top: 30px;
        }
        .abt-left h5{
            font-size: 16px;
        }
        .abt-left h1{
            font-size: 35px;
        }
        .extra .col-md-4{
            padding: 15px;
        }
        input::placeholder{
            font-size: 13px;
        }
}
@media(max-width:414px){
    /* .main-content {
      top: 30%;
    } */
    .text-dark {
        right: 45%;
    }
}
@media(max-width:411px){
    /* .main-content {
        bottom: 58%;
    } */
    .text-dark {
        right: 45%;
    }
}
@media(max-width:375px){
    .main-content {
        top: 65%;
    }
    .abt-left h5{
        font-size: 15px;
    }
    .text-dark {
        right: 40%;
    }
}
@media(max-width:360px){
    .abt-left h5{
        font-size: 12px;
    }
    .abt-left h1{
        font-size: 25px;
    }
    .text-dark {
        right: 35%;
    }
      }
    
@media(max-width:320px){
    .main-content {
       top: 58%;
    }
    .text-dark {
        right: 28%;
    }
}
@media(min-width:280px) and (max-width:319px){
    .a input,  .b-round button{
        padding: 5px 15px;
    }
    input::placeholder{
        font-size: 13px;
    }
    .abt-left h5{
        font-size: 10px;
    }
}